
body{
    width: 1440px;
}


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
}

/* nav style  */
.navber {
    gap: 670px;
}

.nav-links {
    list-style: none;
     margin-right: 30px;
     gap: 20px;
}